
#divGeneral {
    margin: 0 auto;
    width: 1200px;
}

#menuPrincipal{

    margin-top: 20px;
    position: relative;
    top: 5px;

}


#top {
    position: relative;
    background-color: lightgreen;
    border-radius: 10px;
    box-shadow: 0pc 2px 2px rgba(0,0,0,0.9);
    color: white;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    border-radius: 30px;
    box-shadow: 0pc 2px 2px rgba(0,0,0,0.5);
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    position: relative;
    background-color: lightgreen;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    margin-top: 3px;
}

.center_content {
    border-radius: 10px;
    box-shadow: 0pc 2px 2px rgba(0,0,0,0.5);
    position: relative;
    background-color: #ffffff;
    padding: 10px;
}

#top a:link, #top a:visited {
    color: blanchedalmond;
    font-weight : bold;
    text-decoration: none;    
}

#top a:link:hover, #top a:visited:hover  {
    color: blanchedalmond;
    font-weight : bold;
    text-decoration : underline;
}


