



<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:jsf="http://xmlns.jcp.org/jsf"
       xmlns:p="http://primefaces.org/ui"
       xmlns:h="http://xmlns.jcp.org/jsf/html">

    <head jsf:id="head">
        <title>Altas Usuario </title>

        <!--===============================================================================================-->	
        <!--<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>-->
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"/>
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"/>
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <!--===============================================================================================-->
    </head>

    <body jsf:id="body">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title">
                        <span class="login100-form-title-1">
                            ALTAS DE USUARIOS Y PERFILES 
                        </span>
                    </div>

                    <form jsf:id="form" class="login100-form validate-form">

                        <p:panel header="DATOS DE USUARIOS ">  

                            <h:form id="registroUsuarioForm">
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Nombre *:" for="nombre" />
                                    <p:inputText id="nombre"
                                                 required="true"
                                                 requiredMessage="El campo es obligatorio" maxlength="255" />

                                    <h:outputLabel value="Apellido*:" />
                                    <p:inputText id="apellido"
                                                required="true"
                                                requiredMessage="El campo es obligatorio" maxlength="100" />

                                    <h:outputLabel value="Cedula*:" for="cedula" />
                                    <p:inputText id="cedula"
                                                required="true"
                                                requiredMessage="El campo es obligatorio" maxlength="100" />

                                    <h:outputLabel value="Correo*:"  for="correo"/>
                                    <p:inputText id="correo" 
                                                 required="true" requiredMessage="El campo es obligatorio"
                                                 maxlength="255" />
                                   
                                    <h:outputLabel value="Telefono*:" for="telefono" />
                                    <p:inputText id="telefono"
                                                 required="true" requiredMessage="El campo es obligatorio"
                                                 maxlength="255" />

                                    <h:outputLabel value="Usuario*:" for="usuario"/>
                                    <p:inputText id="usuario"
                                                 maxlength="255" required="true"
                                                 requiredMessage="El campo es obligatorio" />

                                    
                                    <h:outputLabel value="Contraseña*:" for="contrasena" />
                                    <p:inputText id="contrasena"
                                                 required="true"
                                                 requiredMessage="El campo es obligatorio"
                                                 maxlength="255" />
                                    
                                    <h:outputLabel value="Perfil:" for="perfil" />
                                    <p:inputText id="perfil"
                                                 maxlength="15" 
                                                 required="true"
                                                 requiredMessage="El campo es obligatorio" />

                                    
                                </h:panelGrid>
<!--                                <p:commandButton type="submit"
                                                 ajax="false"
                                                 id="registrarte" value="GUARDAR " />-->
                            </h:form>

                        </p:panel>   
                        <div class="container-login100-form-btn">
                            <button  type="submit"  class="login100-form-btn">
                                GUARDAR 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>
    </body>
</html>
