


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <head  jsf:id="head">
        <title> JSF 2.0</title>
    </head>

    <body>

        <form jsf:id="form">
            <header> JSF 2.2 + html5 por apaiva </header>
            Nombre 
            <input  jsf:id="txtNombre" type="text" placeholder=" ingresar nombre " jsf:value="#{personaBean.nombre}"/>

            <button type="submit" jsf:actionListener="#{personaBean.saludarJSF()}"  > Probar
                <f:ajax execute="@form" render="saludo"/>
            
            </button>
          
            <button  type="submit" jsf:action="#{personaBean.loginControl()}"  > Otra pagina
               
            </button>
            
            <div jsf:id="saludo" >#{personaBean.saludar}</div>
            
            
            <footer> pagina </footer>
        </form>
        
        
    </body>


</html>

