<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--<link href="../resources/css/default.css" rel="stylesheet" type="text/css"/>-->
        <link href="resources/css/default.css" rel="stylesheet" type="text/css"/>

        <!--<link href="../resources/css/cssLayout.css" rel="stylesheet" type="text/css"/>-->

        <title>Sistema Aguateria</title>
    </h:head>

    <h:body>
        <div id="top">
            <ui:insert name="top">
                <h1>BIENVENIDOS AL SISTEMA</h1>

                <h:form >  
                    <p:menubar model="#{menuController.model}">

                    </p:menubar>
                </h:form>

            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">&copy; 2016 Systema de Prueba</ui:insert>
        </div>
    </h:body>

</html>
