<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Gestión de Proyectos</title>


        <h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />

        <h:outputStylesheet name="css/dashboard.css" />
    </h:head>

    <h:body>
        <h:form id="formGrowl">
            <div style="z-index: 6000;">
                <p:growl id="growl" showDetail="true"  sticky="true" />  
            </div>

        </h:form>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Gestión de Proyectos</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <!--                    <a class="nav-link" href="#">Sign out</a>-->
                    <h:form>
                        <p:commandLink value="Cerrar sesión" action="#{menuController.logout}" />
                    </h:form>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky" style="padding-right: 0px !important;">
                        <p:menu model="#{menuController.model}" style="width: 200px !important;" toggleable="true"/>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2"><ui:insert name="tituloPagina" /></h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button class="btn btn-sm btn-outline-secondary">Share</button>
                                <button class="btn btn-sm btn-outline-secondary">Export</button>
                            </div>
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                <span data-feather="calendar"></span>
                                This week
                            </button>
                        </div>
                    </div>                    
                    <ui:insert name="content"> 



                    </ui:insert>                    
                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <h:outputScript name="js/popper.min.js" />
        <h:outputScript  name="bootstrap/js/bootstrap.min.js" />

        <h:outputScript name="https://unpkg.com/feather-icons/dist/feather.min.js"/>

        <script>
            //      feather.replace()
        </script>


    </h:body>
</html>

