<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <style type="text/css">
            .ui-panel, div.ui-state-hover {
                margin: 10px;
                width:200px;
            }

            .ui-dashboard-column {
                width:220px;
            }
        </style>



        <ui:composition template="/WEB-INF/template.xhtml"  >
            <ui:define name="tituloPagina">
                Dashboard
            </ui:define>    
            <ui:define name="content">
                <script type="text/javascript">
                    function handleDrop(event, ui) {
                        var droppedCar = ui.draggable;

                        droppedCar.fadeOut('fast');
                    }
                </script>

                <h:form id="formDash">
                    <div class="form-group row">
                        <label for="setBacl" class="col-sm-2 col-form-label">Sprint</label>
                        <div class="col-sm-3">
                            <p:selectOneMenu id="setBacl" value="#{dashboardBean.sprintSeleccionado}" 
                                             converter="omnifaces.SelectItemsConverter" style="width: 240px !important"
                                             >
                                <f:selectItem noSelectionOption="true" itemValue="#{null}" itemLabel="Seleccionar" />
                                <f:selectItems value="#{dashboardBean.sprintList}" 
                                               var="sprint" itemLabel="#{sprint.nombre}" itemValue="#{sprint}" />
                                <p:ajax oncomplete="actualizar()" listener="#{dashboardBean.generarDashboard}" />
                            </p:selectOneMenu>
                        </div>
                    </div>
                    
                    
                    <hr class="style1" />

                    <h:panelGroup id="dashboard">
                        <center>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p:fieldset id="availableCarsField" legend="Pendientes" style="width: 260px; font-size: 12px;">
                                        <p:dataGrid id="pgPendientes" var="us" value="#{dashboardBean.usPendientes}" columns="1">
                                            <p:panel id="pnl" header="#{us.nombreCorto}" style="text-align:center">                                          
                                                <address>
                                                    <strong>Descripción:</strong>
                                                    #{us.nombreLargo}
                                                </address>

                                                <address>
                                                    <strong>Usuario:</strong>
                                                    #{us.idUsuario.nombreUsuario}
                                                </address>
                                            </p:panel>

                                            <p:draggable for="pnl" revert="true" handle=".ui-panel-titlebar" stack=".ui-panel"/>
                                        </p:dataGrid>
                                    </p:fieldset>
                                </div>
                                <div class="col-sm-3">
                                    <p:fieldset id="enCurso" legend="En curso" style="width: 260px; font-size: 12px;">

                                        <p:dataGrid  id="pgEnCurso" var="us" value="#{dashboardBean.usEnCurso}" columns="1">
                                            <p:panel id="pnl2" header="#{us.nombreCorto}" style="text-align:center">
                                                <address>
                                                    <strong>Descripción:</strong>
                                                    #{us.nombreLargo}
                                                </address>

                                                <address>
                                                    <strong>Usuario:</strong>
                                                    #{us.idUsuario.nombreUsuario}
                                                </address>
                                            </p:panel>

                                            <p:draggable for="pnl2" revert="true" handle=".ui-panel-titlebar" stack=".ui-panel"/>
                                        </p:dataGrid>
                                    </p:fieldset>
                                </div>
                                <div class="col-sm-3">
                                    <p:fieldset id="terminados" legend="Terminados" style="width: 260px; font-size: 12px;">
                                        <p:dataGrid id="pgTerminados" var="us" value="#{dashboardBean.usTerminados}" columns="1">
                                            <p:panel id="pnl3" header="#{us.nombreCorto}" style="text-align:center">
                                                <address>
                                                    <strong>Descripción:</strong>
                                                    #{us.nombreLargo}
                                                </address>

                                                <address>
                                                    <strong>Usuario:</strong>
                                                    #{us.idUsuario.nombreUsuario}
                                                </address>
                                            </p:panel>

                                            <p:draggable for="pnl3" revert="true" handle=".ui-panel-titlebar" stack=".ui-panel"/>
                                        </p:dataGrid>
                                    </p:fieldset>
                                </div>
                            </div>

                        </center>





                        <p:droppable for="enCurso" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="formDash:pgPendientes" onDrop="handleDrop">
                            <p:ajax listener="#{dashboardBean.pendientesToEnCurso}" update="formDash:pgEnCurso formDash:pgPendientes" />
                        </p:droppable>

                        <p:droppable for="availableCarsField" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="formDash:pgEnCurso" onDrop="handleDrop">
                            <p:ajax listener="#{dashboardBean.enCursoToPendientes}" update="formDash:pgEnCurso formDash:pgPendientes" />
                        </p:droppable>

                        <p:droppable for="terminados" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="formDash:pgEnCurso" onDrop="handleDrop">
                            <p:ajax listener="#{dashboardBean.enCursoToTerminados}" update="formDash:pgTerminados formDash:pgEnCurso" />
                        </p:droppable>

                        <p:droppable for="availableCarsField" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="formDash:pgTerminados" onDrop="handleDrop">
                            <p:ajax listener="#{dashboardBean.terminadosToPendientes}" update="formDash:pgTerminados formDash:pgPendientes" />
                        </p:droppable>

                    </h:panelGroup>





                    <p:remoteCommand name="actualizar" update="formDash:dashboard" />   

                </h:form>




            </ui:define>    

        </ui:composition>    
    </h:body>
</html>


