<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:p="http://primefaces.org/ui"
       xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <link href="../resources/css/default.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="./../../resources/css/default.css" rel="stylesheet" type="text/css"/>
        <style type="text/css">
            .ui-datalist {
                width:300px;
                margin-bottom: 20px;
            }

            .ui-datalist-item {
                padding:3px;
            }

            .paginated .ui-datalist-data {
                padding-left: 20px;
            }
        </style>
    </h:head>


    <ui:composition template="/WEB-INF/template.xhtml"  >
        <ui:define name="tituloPagina">
            Administración de Roles
        </ui:define>
        <ui:define name="content" >
            <h:form id="formRoles">
                <p:dataTable id="dtRoles" value="#{rolesBean.listaRoles}" var="rol" rows="10" rowKey="#{rol.idRol}">


                    <p:column headerText="Rol">
                        <p:outputLabel value="#{rol.nombreRol}" />
                    </p:column>

                    <p:column headerText="Descripción">
                        <p:outputLabel value="#{rol.descripcionRol}" />
                    </p:column>

                    <p:column headerText="Acción" style="width: 150px;">
                        <center>
                            <p:commandButton icon="fa fa-pencil Fs100 Red" title="Editar" oncomplete="PF('wbRoles').show()"
                                             update="formDlgRoles" action="#{rolesBean.antesActualizar}">
                                <f:setPropertyActionListener value="#{rol}" target="#{rolesBean.rolSeleccionado}" />
                                <f:setPropertyActionListener value="#{true}" target="#{rolesBean.editando}" />
                            </p:commandButton>

                            <p:commandButton icon="fa fa-minus-circle Fs100 Red" title="Eliminar" 
                                             action="#{rolesBean.eliminar}" update="formRoles:dtRoles formGrowl:growl">
                                <f:setPropertyActionListener value="#{rol}" target="#{rolesBean.rolSeleccionado}" />
                                <p:confirm header="Confirmación" message="Estas seguro?" icon="pi pi-exclamation-triangle" />
                            </p:commandButton>
                        </center>
                    </p:column>
                </p:dataTable> 
                <div class="float-sm-right" style="padding-top: 10px;">
                    <p:commandButton value="Nuevo Rol" ajax="true" icon="fa fa-plus-circle"  
                                     oncomplete="PF('wbRoles').show();"
                                     actionListener="#{rolesBean.agregarRoles}"
                                     update="formDlgRoles">
                        <f:setPropertyActionListener value="#{false}" target="#{rolesBean.editando}" />
                    </p:commandButton>
                </div>
            </h:form>

            <p:dialog id="dlgRoles" widgetVar="wbRoles" closeOnEscape="true" closable="true" header="Roles"
                      width="500" height="300"  appendTo="@(body)"> 
                <h:form id="formDlgRoles">
                    <div class="bd-example">
                        <div class="form-group row">
                            <label for="nom" class="col-sm-2 col-form-label">Rol</label>
                            <div class="col-sm-10">
                                <p:inputText id="nom" styleClass="form-control" required="false"
                                             value="#{rolesBean.rolSeleccionado.nombreRol}"/>
                            </div>
                        </div>


                    </div>

                    <div class="bd-example">
                        <div class="form-group row">
                            <label for="desc" class="col-sm-2 col-form-label">Decripción</label>
                            <div class="col-sm-10">
                                <p:inputText id="desc" styleClass="form-control" required="false"
                                             value="#{rolesBean.rolSeleccionado.descripcionRol}"/>
                            </div>
                        </div>


                    </div>


                    <center>
                        <p:commandButton  styleClass="ui-priority-primary" value="Guardar" style="width: 80px;"
                                          action="#{rolesBean.guardar}"
                                          update="formRoles:dtRoles formGrowl:growl"
                                          process="@this @form"
                                          rendered="#{!rolesBean.editando}"
                                          />

                        <p:commandButton  styleClass="ui-priority-primary" value="Actualizar" style="width: 100px;"
                                          action="#{rolesBean.actualizar}"
                                          update="formRoles:dtRoles formGrowl:growl"
                                          process="@this @form"
                                          rendered="#{rolesBean.editando}"
                                          />

                        <p:commandButton  styleClass="ui-priority-secondary" value="Salir" style="width: 80px;"
                                          onclick="PF('wbRoles').hide()"></p:commandButton>

                    </center>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>                     
                </h:form>
            </p:dialog>  



        </ui:define>
    </ui:composition>

</html>
