<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml"  >
            <ui:define name="tituloPagina">
                Sprint
            </ui:define>    
            <ui:define name="content">
                <h:form id="formSprint">
                    <p:dataTable id="dtSprint" value="#{sprintBean.sprintList}" var="sp" rows="10" rowKey="#{sp.idSprint}">

                        <p:column headerText="Nombre" style="width: 250px;"> 
                            <p:outputLabel value="#{sp.nombre}" />
                        </p:column>

                        <p:column headerText="Duración">
                            <p:outputLabel value="#{sp.duracion}" />
                        </p:column>                       

                        <p:column headerText="Fec. Inicio">
                            <center>
                                <p:outputLabel value="#{sp.fechaInicio}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </p:outputLabel>
                            </center>
                        </p:column>

                        <p:column headerText="Fec. Fin">
                            <center>
                                <p:outputLabel value="#{sp.fechaFin}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </p:outputLabel>
                            </center>
                        </p:column>

                        <p:column headerText="Estado">
                            <p:outputLabel value="#{sp.idEstado.nombreEstado}" />
                        </p:column>    

                        <p:column headerText="Observación">
                            <p:outputLabel value="#{sp.observacion}" />
                        </p:column>

                        <p:column headerText="Backlog">
                            <p:outputLabel value="#{sp.idBacklog.nombreBacklog}" />
                        </p:column>

                        <p:column headerText="Inactivo">
                            <p:outputLabel value="#{sp.inactivo}" />
                        </p:column>

                        <p:column headerText="Acción" style="width: 200px;">
                            <center>

                                <!--                                <p:commandButton value="Ver US"  title="Ver userstory" oncomplete="PF('wbDetalleUS').show()"
                                                                                 update="formDlgDetalleUS" action="#{sprintBean.cargarUS}">
                                                                    <f:setPropertyActionListener value="#{bl}" target="#{sprintBean.sprintSeleccionado}" />                                    
                                                                </p:commandButton>-->

                                <p:commandButton icon="fa fa-pencil Fs100 Red" title="Editar" oncomplete="PF('wbSprint').show()"
                                                 update="formDlgSprint" action="#{sprintBean.antesActualizar}">
                                    <f:setPropertyActionListener value="#{sp}" target="#{sprintBean.sprintSeleccionado}" />                                    
                                    <f:setPropertyActionListener value="#{true}" target="#{sprintBean.editando}" />

                                </p:commandButton>

                                <p:commandButton icon="fa fa-minus-circle Fs100 Red" title="Eliminar" 
                                                 action="#{sprintBean.eliminar}" update="formSprint:dtSprint formGrowl:growl">
                                    <f:setPropertyActionListener value="#{sp}" target="#{sprintBean.sprintSeleccionado}" />                                    
                                    <p:confirm header="Confirmación" message="Estas seguro?" icon="pi pi-exclamation-triangle" />
                                </p:commandButton>
                            </center>
                        </p:column>

                    </p:dataTable> 

                    <div class="float-sm-right" style="padding-top: 10px;">
                        <p:commandButton value="Agregar Sprint" ajax="true" icon="fa fa-plus-circle"  
                                         oncomplete="PF('wbSprint').show();"
                                         actionListener="#{sprintBean.agregarSprint}"
                                         update="formDlgSprint">
                            <f:setPropertyActionListener value="#{false}" target="#{sprintBean.editando}" />
                        </p:commandButton>
                    </div>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>  
                </h:form>

                <p:dialog id="dlgProductBL" widgetVar="wbSprint" closeOnEscape="true" closable="true" header="Sprint"
                          width="950" height="650"  appendTo="@(body)"> 
                    <h:form id="formDlgSprint">
                        <div class="bd-example">
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <p:inputText id="nombre" styleClass="form-control" required="false"
                                                 value="#{sprintBean.sprintSeleccionado.nombre}"/>
                                </div>
                            </div>   

                            <div class="form-group row">
                                <label for="dur" class="col-sm-2 col-form-label">Duración</label>
                                <div class="col-sm-10">
                                    <p:inputText id="dur" styleClass="form-control" required="false"
                                                 value="#{sprintBean.sprintSeleccionado.duracion}"/>
                                </div>
                            </div>   

                            <div class="form-group row">
                                <label for="desc" class="col-sm-2 col-form-label">Observación</label>
                                <div class="col-sm-10">
                                    <p:inputText id="desc" styleClass="form-control" required="false"
                                                 value="#{sprintBean.sprintSeleccionado.observacion}"/>
                                </div>
                            </div>  

                            <div class="form-group row">
                                <label for="fechaInicio" class="col-sm-2 col-form-label">Fecha Inicio</label>
                                <div class="col-sm-10">
                                    <p:calendar id="fechaInicio"  required="false"
                                                value="#{sprintBean.sprintSeleccionado.fechaInicio}"/>
                                </div>
                            </div>  

                            <div class="form-group row">
                                <label for="fechaFinEstimada" class="col-sm-2 col-form-label">Fecha Fin</label>
                                <div class="col-sm-10">
                                    <p:calendar id="fechaFinEstimada" required="false" style="widows: 300px !important;"
                                                value="#{sprintBean.sprintSeleccionado.fechaFin}"/>
                                </div>
                            </div>  

                            <div class="form-group row">
                                <label for="selPro" class="col-sm-2 col-form-label">Estado</label>
                                <div class="col-sm-10">
                                    <p:selectOneMenu id="selPro" value="#{sprintBean.estadoSeleccionado}" 
                                                     converter="omnifaces.SelectItemsConverter" style="width: 760px !important"
                                                     >

                                        <f:selectItems value="#{sprintBean.estadosList}" 
                                                       var="estado" itemLabel="#{estado.nombreEstado}" itemValue="#{estado}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="setBacl" class="col-sm-2 col-form-label">Backlog</label>
                                <div class="col-sm-10">
                                    <p:selectOneMenu id="setBacl" value="#{sprintBean.backlogSeleccionado}" 
                                                     converter="omnifaces.SelectItemsConverter" style="width: 760px !important"
                                                     >
                                        <f:selectItem noSelectionOption="true" itemValue="#{null}" itemLabel="Seleccionar" />
                                        <f:selectItems value="#{sprintBean.backlogList}" 
                                                       var="back" itemLabel="#{back.nombreBacklog}" itemValue="#{back}" />
                                        <p:ajax update="formDlgSprint:pickList" event="change" listener="#{sprintBean.cargarPickList}"></p:ajax>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>

                        <center>
                            <p:pickList id="pickList" value="#{sprintBean.userStoryDualList}" 
                                        var="us" itemLabel="#{us.nombreLargo}" itemValue="#{us}" 
                                        converter="entityConverter">
                            </p:pickList>
                        </center>

                        <center style="padding-top: 40px;">
                            <p:commandButton  styleClass="ui-priority-primary" value="Guardar" style="width: 80px;"
                                              action="#{sprintBean.guardar}"
                                              update="formSprint:dtSprint formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{!sprintBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-primary" value="Actualizar" style="width: 100px;"
                                              action="#{sprintBean.actualizar}"
                                              update="formSprint:dtSprint formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{sprintBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-secondary" value="Salir" style="width: 80px;"
                                              onclick="PF('wbSprint').hide()"></p:commandButton>

                        </center>
                    </h:form>
                </p:dialog>  

                <!--                <p:dialog id="dlgDetalleUS" widgetVar="wbDetalleUS" closeOnEscape="true" closable="true" header="User Story"
                                          width="1250" height="550"  appendTo="@(body)"> 
                                    <h:form id="formDlgDetalleUS">
                
                                        <p:dataTable id="dtUserStory" value="#{sprintBean.userStoryList}" var="us" rows="10" rowKey="#{us.idUserstory}">
                
                                            <p:column headerText="Id. User Story">
                                                <p:outputLabel value="#{us.idUserstory}" />
                                            </p:column>
                
                                            <p:column headerText="Inicio">
                                                <center>
                                                    <p:outputLabel value="#{us.fechaInicio}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </p:outputLabel>
                                                </center>
                                            </p:column>
                
                                            <p:column headerText="Fin">
                                                <center>
                                                    <p:outputLabel value="#{us.fechaFin}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </p:outputLabel>
                                                </center>
                                            </p:column>
                
                                            <p:column headerText="Proyecto">
                                                <p:outputLabel value="#{us.idProyecto.nombreProyecto}" />
                                            </p:column>
                
                                            <p:column headerText="Usuario">
                                                <p:outputLabel value="#{us.idUsuario.nombreUsuario}" />
                                            </p:column>
                
                                            <p:column headerText="Nombre corto">
                                                <p:outputLabel value="#{us.nombreCorto}" />
                                            </p:column>
                
                                            <p:column headerText="Nombre largo">
                                                <p:outputLabel value="#{us.nombreLargo}" />
                                            </p:column>
                
                                            <p:column headerText="Estado">
                                                <p:outputLabel value="#{us.nombreLargo}" />
                                            </p:column>
                
                                            <p:column headerText="Backlog">
                                                <p:outputLabel value="#{us.idBacklog.nombreBacklog}" />
                                            </p:column>
                
                                        </p:dataTable> 
                
                                        <center style="float: bottom !important;">
                                            <p:commandButton  styleClass="ui-priority-secondary" value="Cerrar" style="width: 80px;"
                                                              onclick="PF('wbDetalleUS').hide()"></p:commandButton>
                
                                        </center>
                                    </h:form>
                                </p:dialog>  -->
            </ui:define>    

            <!--<p:remoteCommand name="cargarUs" action="#{sprintBean.cargarPickList}" update="formSprint:pickList"/>-->
        </ui:composition>    


    </h:body>
</html>


