<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml"  >
            <ui:define name="tituloPagina">
                Administración de Submenús
            </ui:define>    
            <ui:define name="content">
                <h:form id="formSubmenu">
                    <p:dataTable id="dtSubmenu" value="#{submenuBean.listaSubmenu}" var="submenu" rows="10" rowKey="#{submenu.idSubmenu}">

                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{submenu.nombre}" />
                        </p:column>

                        <p:column headerText="Pantalla">                           
                            <p:outputLabel value="#{submenu.idPantalla.nombre}" />
                        </p:column>

                        <p:column headerText="Icono">                           
                            <p:outputLabel value="#{submenu.icono}" />
                        </p:column>


                        <p:column headerText="Acción">
                            <center>
                                <p:commandButton icon="fa fa-pencil Fs100 Red" title="Editar" oncomplete="PF('wbSubmenu').show()"
                                                 update="formDlgSubmenu" action="#{submenuBean.antesActualizar}">
                                    <f:setPropertyActionListener value="#{submenu}" target="#{submenuBean.submenuSeleccionado}" />
                                    <f:setPropertyActionListener value="#{true}" target="#{submenuBean.editando}" />
                                </p:commandButton>

                                <p:commandButton icon="fa fa-minus-circle Fs100 Red" title="Eliminar"
                                                 action="#{submenuBean.eliminar}" update="formSubmenu:dtSubmenu formGrowl:growl">
                                    <f:setPropertyActionListener value="#{submenu}" target="#{submenuBean.submenuSeleccionado}" />
                                    <p:confirm header="Confirmación" message="Estas seguro?" icon="pi pi-exclamation-triangle" />
                                </p:commandButton>
                            </center>
                        </p:column>

                    </p:dataTable> 

                    <div class="float-sm-right" style="padding-top: 10px;">
                        <p:commandButton value="Agregar Subemenu" ajax="true" icon="fa fa-plus-circle"  
                                         oncomplete="PF('wbSubmenu').show();"
                                         actionListener="#{submenuBean.agregarProyecto}"
                                         update="formDlgSubmenu">
                            <f:setPropertyActionListener value="#{false}" target="#{submenuBean.editando}" />
                        </p:commandButton>
                    </div>

                </h:form>

                <p:dialog id="dlgSubmenu" widgetVar="wbSubmenu" closeOnEscape="true" closable="true" header="Submenú"
                          width="950" height="650"  appendTo="@(body)"> 
                    <h:form id="formDlgSubmenu">
                        <div class="bd-example">
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <p:inputText id="nombre" styleClass="form-control" required="false"
                                                 value="#{submenuBean.submenuSeleccionado.nombre}"/>
                                </div>
                            </div>



                            <div class="form-group row">
                                <label for="icono" class="col-sm-2 col-form-label">Icono</label>
                                <div class="col-sm-10">
                                    <p:inputText id="icono" styleClass="form-control" required="false"
                                                 value="#{submenuBean.submenuSeleccionado.icono}"/>
                                </div>
                            </div>  

                            <div class="form-group row">
                                <label for="selPantalla" class="col-sm-2 col-form-label">Pantalla</label>
                                <div class="col-sm-10">
                                    <p:selectOneMenu id="selPantalla" value="#{submenuBean.pantallaSeleccionada}" 
                                                     converter="omnifaces.SelectItemsConverter" style="width: 760px !important"
                                                     >

                                        <f:selectItems value="#{submenuBean.listaPantallas}" var="pantalla" itemLabel="#{pantalla.nombre}" 
                                                       itemValue="#{pantalla}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>

                        <center>
                            <p:commandButton  styleClass="ui-priority-primary" value="Guardar" style="width: 80px;"
                                              action="#{submenuBean.guardar}"
                                              update="formSubmenu:dtSubmenu formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{!submenuBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-primary" value="Actualizar" style="width: 100px;"
                                              action="#{submenuBean.actualizar}"
                                              update="formSubmenu:dtSubmenu formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{submenuBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-secondary" value="Salir" style="width: 80px;"
                                              onclick="PF('wbSubmenu').hide()"></p:commandButton>

                        </center>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                        </p:confirmDialog>  
                    </h:form>
                </p:dialog>  
            </ui:define>    

        </ui:composition>    
    </h:body>
</html>


