<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml"  >
            <ui:define name="tituloPagina">
                UserStories
            </ui:define>    
            <ui:define name="content">
                <h:form id="formUserStory">
                    <p:dataTable id="dtUserStory" value="#{userStoryBean.userStoryList}" var="us" rows="10" rowKey="#{us.idUserstory}"
                                 paginator="true" paginatorPosition="bottom">

                        <p:column headerText="Id. User Story">
                            <p:outputLabel value="#{us.idUserstory}" />
                        </p:column>

                        <p:column headerText="Inicio">
                            <center>
                                <p:outputLabel value="#{us.fechaInicio}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </p:outputLabel>
                            </center>
                        </p:column>

                        <p:column headerText="Fin">
                            <center>
                                <p:outputLabel value="#{us.fechaFin}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </p:outputLabel>
                            </center>
                        </p:column>

                        <p:column headerText="Usuario">
                            <p:outputLabel value="#{us.idUsuario.nombreUsuario}" />
                        </p:column>

                        <p:column headerText="Nombre corto">
                            <p:outputLabel value="#{us.nombreCorto}" />
                        </p:column>

                        <p:column headerText="Nombre largo">
                            <p:outputLabel value="#{us.nombreLargo}" />
                        </p:column>

                        <p:column headerText="Estado">
                            <p:outputLabel value="#{us.idEstado.nombreEstado}" />
                        </p:column>

                        <p:column headerText="Backlog">
                            <p:outputLabel value="#{us.idBacklog.nombreBacklog}" />
                        </p:column>


                        <p:column headerText="Acción">
                            <center>
                                <p:commandButton icon="fa fa-pencil Fs100 Red" title="Editar" oncomplete="PF('wbUserStory').show()"
                                                 update="formDlgUS" action="#{userStoryBean.antesActualizar}">
                                    <f:setPropertyActionListener value="#{us}" target="#{userStoryBean.userStorySeleccionado}" />                                    
                                    <f:setPropertyActionListener value="#{true}" target="#{userStoryBean.editando}" />

                                </p:commandButton>

                                <p:commandButton icon="fa fa-minus-circle Fs100 Red" title="Eliminar" 
                                                 action="#{userStoryBean.eliminar}" update="formUserStory:dtUserStory formGrowl:growl">
                                    <f:setPropertyActionListener value="#{us}" target="#{userStoryBean.userStorySeleccionado}" />                                    
                                    <p:confirm header="Confirmación" message="Estas seguro?" icon="pi pi-exclamation-triangle" />
                                </p:commandButton>
                            </center>
                        </p:column>

                    </p:dataTable> 

                    <div class="float-sm-right" style="padding-top: 10px;">
                        <p:commandButton value="Agregar US" ajax="true" icon="fa fa-plus-circle"  
                                         oncomplete="PF('wbUserStory').show();"
                                         actionListener="#{userStoryBean.agregarUS}"
                                         update="formDlgUS">
                            <f:setPropertyActionListener value="#{false}" target="#{userStoryBean.editando}" />
                        </p:commandButton>
                    </div>
                    
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>    
                </h:form>

                <p:dialog id="dlgProyectos" widgetVar="wbUserStory" closeOnEscape="true" closable="true" header="User Story"
                          width="950" height="650"  appendTo="@(body)"> 
                    <h:form id="formDlgUS">
                        <div class="bd-example">
                            <div class="form-group row">
                                <label for="nombreCorto" class="col-sm-2 col-form-label">Nombre corto</label>
                                <div class="col-sm-10">
                                    <p:inputText id="nombreCorto" styleClass="form-control" required="false"
                                                 value="#{userStoryBean.userStorySeleccionado.nombreCorto}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nombreLargo" class="col-sm-2 col-form-label">Nombre largo</label>
                                <div class="col-sm-10">
                                    <p:inputText id="nombreLargo" styleClass="form-control" required="false"
                                                 value="#{userStoryBean.userStorySeleccionado.nombreLargo}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fechaInicio" class="col-sm-2 col-form-label">Fecha inicio</label>
                                <div class="col-sm-10">
                                    <p:calendar id="fechaInicio"  required="false"
                                                value="#{userStoryBean.userStorySeleccionado.fechaInicio}"/>
                                </div>
                            </div>  

                            <div class="form-group row">
                                <label for="fechaFinEstimada" class="col-sm-2 col-form-label">Fecha fin</label>
                                <div class="col-sm-10">
                                    <p:calendar id="fechaFinEstimada" required="false" style="widows: 300px !important;"
                                                value="#{userStoryBean.userStorySeleccionado.fechaFin}"/>
                                </div>
                            </div>  


                            <div class="form-group row">
                                <label for="anhoProyecto" class="col-sm-2 col-form-label">Tiempo asignado</label>
                                <div class="col-sm-10">
                                    <p:inputText id="anhoProyecto" styleClass="form-control" required="false"
                                                 value="#{userStoryBean.userStorySeleccionado.tiempoAsignado}"/>
                                </div>
                            </div>  


                            <div class="form-group row">
                                <label for="valorNegocio" class="col-sm-2 col-form-label">Valor negocio</label>
                                <div class="col-sm-10">
                                    <p:inputText id="valorNegocio" styleClass="form-control" required="false"
                                                 value="#{userStoryBean.userStorySeleccionado.valorNegocio}"/>
                                </div>
                            </div>  

                            <div class="form-group row">
                                <label for="valortecnico" class="col-sm-2 col-form-label">Valor técnico</label>
                                <div class="col-sm-10">
                                    <p:inputText id="valortecnico" styleClass="form-control" required="false"
                                                 value="#{userStoryBean.userStorySeleccionado.valorTecnico}"/>
                                </div>
                            </div>  

                            <div class="form-group row">
                                <label for="descripcion" class="col-sm-2 col-form-label">Descripción US</label>
                                <div class="col-sm-10">
                                    <p:inputTextarea id="descripcion" styleClass="form-control" required="false"
                                                     value="#{userStoryBean.userStorySeleccionado.descripcion}"/>
                                </div>
                            </div>                            

                            <div class="form-group row">
                                <label for="setBacklog" class="col-sm-2 col-form-label">Backlog</label>
                                <div class="col-sm-10">
                                    <p:selectOneMenu id="setBacklog" value="#{userStoryBean.backlogSeleccionado}" 
                                                     converter="omnifaces.SelectItemsConverter" style="width: 760px !important"
                                                     >

                                        <f:selectItems value="#{userStoryBean.backlogList}" var="bl" 
                                                       itemLabel="#{bl.nombreBacklog}" itemValue="#{bl}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="selPro" class="col-sm-2 col-form-label">Estado</label>
                                <div class="col-sm-10">
                                    <p:selectOneMenu id="selEstado2" value="#{userStoryBean.estadoSeleccionado}" 
                                                     converter="omnifaces.SelectItemsConverter" style="width: 760px !important"
                                                     >

                                        <f:selectItems value="#{userStoryBean.estadosList}" 
                                                       var="estado" itemLabel="#{estado.nombreEstado}" itemValue="#{estado}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="selBacklog" class="col-sm-2 col-form-label">Usuario</label>
                                <div class="col-sm-10">
                                    <p:selectOneMenu id="selBacklog" value="#{userStoryBean.usuarioSeleccionado}" 
                                                     converter="omnifaces.SelectItemsConverter" style="width: 760px !important"
                                                     >

                                        <f:selectItems value="#{userStoryBean.usuarioList}" var="usu" 
                                                       itemLabel="#{usu.nombreUsuario}" itemValue="#{usu}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>

                        </div>

                        <center>
                            <p:commandButton  styleClass="ui-priority-primary" value="Guardar" style="width: 80px;"
                                              action="#{userStoryBean.guardar}"
                                              update="formUserStory:dtUserStory formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{!userStoryBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-primary" value="Actualizar" style="width: 100px;"
                                              action="#{userStoryBean.actualizar}"
                                              update="formUserStory:dtUserStory formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{userStoryBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-secondary" value="Salir" style="width: 80px;"
                                              onclick="PF('wbUserStory').hide()"></p:commandButton>

                        </center>
                    </h:form>
                </p:dialog>  
            </ui:define>    

        </ui:composition>    
    </h:body>
</html>


