<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml"  >
            <ui:define name="tituloPagina">
                Administración de Usuarios
            </ui:define>    
            <ui:define name="content">
                <h:form id="formUsuarios">
                    <p:dataTable id="dtUsuarios" value="#{usuarioBean.listaUsuarios}" var="usu" rows="10" rowKey="#{usu.idUsuario}">

                        <p:column headerText="Usuario">
                            <p:outputLabel value="#{usu.nombreUsuario}" />
                        </p:column>

                        <p:column headerText="Nombre ">
                            <p:outputLabel value="#{usu.nombre}"/>  &nbsp;
                            <p:outputLabel value="#{usu.apellido}"/>
                            <p:outputLabel value="#{usu.nombreEmpresa}"/>
                        </p:column>

                        <p:column headerText="Cedula">
                            <p:outputLabel value="#{usu.cedula}" />
                        </p:column>

                        <p:column headerText="Dirección">
                            <p:outputLabel value="#{usu.direccionn}" />
                        </p:column>

                        <p:column headerText="Rol">
                            <p:outputLabel value="#{usu.idRol.nombreRol}" />
                        </p:column>

                        <p:column headerText="Es cliente?">
                            <p:outputLabel value="#{usu.esCliente eq true ? 'Si' : 'No'}" />
                        </p:column>

                        <p:column headerText="Acción">
                            <center>
                                <p:commandButton icon="fa fa-pencil Fs100 Red" title="Editar" oncomplete="PF('wbUsuarios').show()"
                                                 update="formDlg" action="#{usuarioBean.antesActualizar}">
                                    <f:setPropertyActionListener value="#{usu}" target="#{usuarioBean.usuarioSeleccionado}" />
                                    <f:setPropertyActionListener value="#{true}" target="#{usuarioBean.editando}" />
                                </p:commandButton>

                                <p:commandButton icon="fa fa-minus-circle Fs100 Red" title="Eliminar" 
                                                 action="#{usuarioBean.eliminar}" update="formUsuarios:dtUsuarios formGrowl:growl">
                                    <f:setPropertyActionListener value="#{usu}" target="#{usuarioBean.usuarioSeleccionado}" />
                                    <p:confirm header="Confirmación" message="Estas seguro?" icon="pi pi-exclamation-triangle" />
                                </p:commandButton>
                            </center>
                        </p:column>

                    </p:dataTable> 

                    <div class="float-sm-right" style="padding-top: 10px;">
                        <p:commandButton value="Agregar Usuario" ajax="true" icon="fa fa-plus-circle"  
                                         oncomplete="PF('wbUsuarios').show();"
                                         actionListener="#{usuarioBean.agregarUsuario}"
                                         update="formDlg">
                            <f:setPropertyActionListener value="#{false}" target="#{usuarioBean.editando}" />
                        </p:commandButton>
                    </div>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>                     
                

                </h:form>

                <p:dialog id="dlgUsuarios" widgetVar="wbUsuarios" closeOnEscape="true" closable="true" header="Usuarios"
                          width="600" height="600"  appendTo="@(body)"> 
                    <h:form id="formDlg">
                        <div class="bd-example">
                            <div class="form-group row">
                                <label for="codusuario" class="col-sm-2 col-form-label">Usuario</label>
                                <div class="col-sm-10">
                                    <p:inputText id="codusuario" styleClass="form-control" required="false"
                                                 value="#{usuarioBean.usuarioSeleccionado.nombreUsuario}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Es cliente?</label>
                                <div class="col-sm-10">
                                    <p:selectBooleanCheckbox  value="#{usuarioBean.usuarioSeleccionado.esCliente}" >
                                        <p:ajax update="formDlg:pgNombreEmpresa formDlg:pgNombre" />
                                    </p:selectBooleanCheckbox>

                                </div>
                            </div>

                            <h:panelGroup id="pgNombreEmpresa">
                                <h:panelGroup rendered="#{usuarioBean.usuarioSeleccionado.esCliente}">
                                    <div class="form-group row">
                                        <label for="nombreEmpresa" class="col-sm-2 col-form-label">Nombre Empresa</label>
                                        <div class="col-sm-10">
                                            <p:inputText id="nombreEmpresa" styleClass="form-control" value="#{usuarioBean.usuarioSeleccionado.nombreEmpresa}"/>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </h:panelGroup>


                            <h:panelGroup id="pgNombre">
                                <h:panelGroup rendered="#{!usuarioBean.usuarioSeleccionado.esCliente}">
                                    <div class="form-group row">
                                        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <p:inputText id="nombre" styleClass="form-control" required="false" 
                                                         requiredMessage="debe completar"
                                                         value="#{usuarioBean.usuarioSeleccionado.nombre}"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Apellido</label>
                                        <div class="col-sm-10">
                                            <p:inputText  id="apellido"  styleClass="form-control" value="#{usuarioBean.usuarioSeleccionado.apellido}"/>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </h:panelGroup>



                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Cédula</label>
                                <div class="col-sm-10">
                                    <p:inputText  id="cedula" styleClass="form-control" value="#{usuarioBean.usuarioSeleccionado.cedula}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Teléfono</label>
                                <div class="col-sm-10">
                                    <p:inputText id="telefono"  styleClass="form-control" value="#{usuarioBean.usuarioSeleccionado.telefono}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Dirección</label>
                                <div class="col-sm-10">
                                    <p:inputText id="direccion" styleClass="form-control" value="#{usuarioBean.usuarioSeleccionado.direccionn}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <p:inputText id="email" styleClass="form-control" value="#{usuarioBean.usuarioSeleccionado.email}"/>
                                </div>
                            </div>






                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Rol</label>
                                <div class="col-sm-10">
                                    <p:selectOneMenu id="selRol" value="#{usuarioBean.rolSeleccionado}" 
                                                     converter="omnifaces.SelectItemsConverter" style="width: 470px !important"
                                                     >

                                        <f:selectItems value="#{usuarioBean.listaRoles}" var="rol" itemLabel="#{rol.nombreRol}" itemValue="#{rol}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>

                        <center>
                            <p:commandButton  styleClass="ui-priority-primary" value="Guardar" style="width: 80px;"
                                              action="#{usuarioBean.guardar}"
                                              update="formUsuarios:dtUsuarios formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{!usuarioBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-primary" value="Actualizar" style="width: 100px;"
                                              action="#{usuarioBean.actualizar}"
                                              update="formUsuarios:dtUsuarios formGrowl:growl"
                                              process="@this @form"
                                              rendered="#{usuarioBean.editando}"
                                              />

                            <p:commandButton  styleClass="ui-priority-secondary" value="Salir" style="width: 80px;"
                                              onclick="PF('wbUsuarios').hide()"></p:commandButton>

                        </center>
                    </h:form>
                </p:dialog>  


                <p:confirmDialog global="true"  header="Confirmación">
                    <h:form>
                        <center>
                            <p:commandButton action="#{usuarioBean.eliminar}" process="@this" value="Si" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                        </center>
                    </h:form>
                </p:confirmDialog> 


            </ui:define>    

        </ui:composition>    
    </h:body>
</html>


